html, body
{
  height: 100%;
  overflow: hidden;
  font-family: monospace;
  font-size: 12px;
  color: #fff;
}

#main-game
{
  postion: relative;
  max-width: 767px;
  height: 100%;
  min-height: 525px;
}

#screen-game
{
  position: absolute;
  width: 100%;
  height: 100%;
}

#backgroun-game
{
 position: absolute;
 top: 0;
 width: 100%;
 height: 80%;
 background-image: url("../assets/bg.png");
 background-repeat: repeat-x;
  backgroun-position: 0px 100%;
  background-color: #4ec0ca;
  
  -webkit-animation: animBg 7s linear infinite;
  animation: animBg 7s linear infinite;
}

#flyare-game
{
  position: absolute;
  bottom: 0;
  height: 420px;
  width: 100%;
}
#ceiling
{
  postion: absolute;
  top: -16px;
  height: 16px;
  width: 100%;
  background-iamge: url("../assets/ceiling.png");
  
  -webkit-animation: animCeiling 481ms linear infinite;
  animation: animCeiling 481ms linear infinite;
}

#footer-game\
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  background-image: url("../assets/ground.png");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  background-color: #ded895;
  
  -webkit-animation: animGround 2515ms linear infinite;
  animation: animGround 2515ms linear infinite;
}

#scoring
{
  position: absolute;
  top: 20px;
  left: 150px;
  z-index: 100;
}

#scoring img
{
  display: inline-block;
  padding: 1px;
}

#splash
{
  position: absolute;
  opacity:1px;
  top: 75px;
  left: 65px;
  width: 100px; //Bisa diatur sesuai dengan denga ukuran gambarnya
  height: 170px; //Bisa diatur sesuai dengan denga ukuran gambarnya
  background-image: url("../assets/splash.png");
  background-repeat: no-repeat;
}

#scoreboar
{
  position: absolute;
  display: none;
  opacity: 0;
  top: 62px;
  left: 43px;
  width: 236px; //Bisa diatur sesuai dengan denga ukuran gambarnya
  height: 280px; //Bisa diatur sesuai dengan denga ukuran gambarnya
  background-image: url("../assets/scoreboard.png");
  background-repeat: no-repeat;
  z-index: 1000;
}

#currenscore
{
  position: absolute;
  display: none;
  opacity: 0;
  top: 105px;
  left: 107px;
  width: 104px; //Bisa diatur sesuai dengan denga ukuran gambarnya
  height: 14px; //Bisa diatur sesuai dengan denga ukuran gambarnya
  text-align: right;
}
